/* 1- Fonts */



@font-face {
  font-family: "roboto";
  src: url(fonts/roboto/roboto-regular-webfont.eot);
  src: url(fonts/roboto/roboto-regular-webfont.eot?#iefix)
      format("embedded-opentype"),
    url(fonts/roboto/roboto-regular-webfont.woff2) format("woff2"),
    url(fonts/roboto/roboto-regular-webfont.woff) format("woff"),
    url(fonts/roboto/roboto-regular-webfont.ttf) format("truetype"),
    url(fonts/roboto/roboto-regular-webfont.svg#robotoregular) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url(fonts/roboto/roboto-light-webfont.eot);
  src: url(fonts/roboto/roboto-light-webfont.eot?#iefix)
      format("embedded-opentype"),
    url(fonts/roboto/roboto-light-webfont.woff2) format("woff2"),
    url(fonts/roboto/roboto-light-webfont.woff) format("woff"),
    url(fonts/roboto/roboto-light-webfont.ttf) format("truetype"),
    url(fonts/roboto/roboto-light-webfont.svg#robotolight) format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url(fonts/roboto/roboto-medium-webfont.eot);
  src: url(fonts/roboto/roboto-medium-webfont.eot?#iefix)
      format("embedded-opentype"),
    url(fonts/roboto/roboto-medium-webfont.woff2) format("woff2"),
    url(fonts/roboto/roboto-medium-webfont.woff) format("woff"),
    url(fonts/roboto/roboto-medium-webfont.ttf) format("truetype"),
    url(fonts/roboto/roboto-medium-webfont.svg#robotomedium) format("svg");
  font-weight: 500;
  font-style: normal;
}

/* /Fonts */

/* 2- Variables */

:root {
  --blue-base: #43aa8b;
  --mint-base: lightblue;
  --yellow-base: #003459;
  --red-base: #E8614D;
  --pink-base: #f1c453;

  --light-bg-color: #fcfcfc;
  --dark-bg-color: #242424;

  --light-text-color: #003459;
  --dark-text-color: #ffffff;
}

/* /Variables */

/* 3- Reset styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  
}

a {
  text-decoration: none;
  color: initial;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

/* 4- Layout */

html,
body {
  width: 100%;
  color: var(--light-text-color);
  font-family: "Roboto";
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* 7- Home page */
header.intro-container {
  display: flex;
  flex: row wrap;
  min-height: 42rem;
  background-color: var(--blue-base);
  z-index: 1;
}

.left-space {
  flex-basis: calc(100% * 0.2);
  flex-grow: 1;
}

.middle-space {
  flex-basis: calc(100vw * 0.2);
  flex-grow: 1;
  padding:1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle-space p.header-name {
  writing-mode: vertical-rl;
  transform:scale(-1);
  position: relative;
  top: 10%;
  color: white;
  font-family: "Raleway", open-sans;
  font-size: 300%;
  font-weight: 800;
  max-width: 100%;
  
}

.right-space {
  flex-basis: calc(100vw * 0.6);
  flex-grow: 4;
  position: relative;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-height: inherit;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.intro-container .middle-space {
  background: var(--yellow-base);
  position: relative;
  animation: slide-down 1.5s ease;
  animation-fill-mode: forwards;
}

@keyframes slide-down {
  0% {
    top: -42rem;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.intro-content {
	margin: 3rem 3rem 3rem 3rem; 
	flex: 1;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  opacity: 0;
  animation: fade-in 2.5s ease;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.intro-text {
  font-size: 1.2rem;
  color: white;
  line-height: 1.5;
  margin-bottom: 1em;
  text-align: center;
}

.intro-content a.btn {
  background-color: var(--pink-base);
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: 20px;
  position: relative;
  top: 2rem;
  color: var(--yellow-base);
  transition: all 0.5s ease-in-out,
  box-shadow 1s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.intro-content a.btn:hover {
  transform: scale(1.5);
  background-color: transparent;
  box-shadow: none;
  
}

.link-box-container, .contact-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  flex: 2;
  flex-grow: 2;
  position: relative;
  animation: slide-from-right 1.5s ease;
  animation-fill-mode: forwards;
}

@keyframes slide-from-right {
  0% {
    right: -100vw;
  }
  100% {
    right: 0;
  }
}

.link-box-container a,
.contact-info a {
  background-color: var(--pink-base);
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 1s ease-in-out;
  color: var(--yellow-base);
  font-size: 1.5em;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.link-box-container a:nth-child(2) {
  background-color: var(--mint-base);
  z-index: 100;
}

.link-box-container a:hover {
  background-color: transparent;
  transform: scale(0.7);
  box-shadow: none;
  border-radius: 100px;
}


.about, .work {
  display: flex;
  flex: row wrap;
  background-color: linen;
  z-index: 1;
}

.about {
  min-height: 30rem;
  max-height: 70vh;
  overflow-y: visible;
}

.about .left-space .about-content {
  height: 50%;
  width: 200%;
  overflow: visible;
  position: relative;
  top: 15%;
  left: 50%;
}

.about .left-space .about-content h1 {
  margin-bottom: 2rem;
  font-family: "Raleway", open-sans;
}

.about .middle-space {
  background-color: transparent;
}

.about .right-space{
  display: flex;
  flex-direction: row;
  padding: 0;
}

.about .right-space .link-box {
  background-color: var(--pink-base);
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  transition: background-color 1s ease-in-out;
  text-align: center;
}



.about .right-space .link-box p {
  position: relative;
  color: var(--light-text-color);
  font-size: 2.5rem;
  margin-top: -80%;
  writing-mode: vertical-rl;
  
}

.about .right-space .link-box:nth-child(2){
  background-color: var(--mint-base);
  z-index: 100;
  min-height: 110vh;
}


.about .link-box:nth-child(1),
.about .link-box:nth-child(3),
.work .link-box:nth-child(1),
.work .link-box:nth-child(3) {
  height: 0;
}

.about .link-box:nth-child(2) {
  height: 100%;
}

/* Work section */
div.work {
  background-image: url('https://images.pexels.com/photos/2387873/pexels-photo-2387873.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  box-shadow:inset 0 0 0 2000px rgba(69, 160, 117, 0.2);
  min-height: 110vh;
  height: auto;
  z-index: -1;
}

.work .work-content {
  display: flex;
  flex-direction: column;
  justify-content: flex;
  background-color: var(--blue-base);
  height: fit-content;
  min-width: 10vw;
  max-width: 40vw;
  width: auto;
  overflow: visible;
  margin-top: 7%;
  margin-left: 5%;
  margin-bottom: 3%;
  padding: 3rem;
  color: white;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.work-content h3 {
  font-family: "Raleway";
  font-size: 2rem;
}

.work h2 {
  margin-top: 20%;
  margin-left: 14.5%;
  color: linen;
  font-size: 5rem;
  max-width: 30vw;
  
}

.work .left-space h3 {
  margin-bottom: 1rem;
  color: var(--pink-base);
  font-weight: normal;
  font-size: 1.4rem;
  font-family: sans-serif;
}

.work p.location {
  margin-bottom: 1.2rem;
}

.work .work-content li {
  list-style-type: disc;
}

/* Work section */

/* Project section */

div.projects {
  height: auto;
  background-color: var(--blue-base);
  display: flex;
  z-index: 1;
}

.projects h2 {
  max-width: 40%;
  font-size: 4rem;
  margin-right: 10%;
  margin-left: 6%;
  margin-top: 12%;
}

div.projects .text-left {
  background-color: linen;
  max-width: 37rem;
  z-index: 2;
  margin-left: 15%;
  margin-top: -3%;
  padding: 1rem 3rem;
  
}

.projects .text-left h3 {
  margin-top: 2rem;
}
.projects .text-left ul {
  padding-left: 1rem;
}

.projects .text-left li {
  list-style-type: disc;
}

.projects a.demo-btn {
  background-color: lightblue;
  color: var(--yellow-base);
  border-radius: 5px;
  width: 45%;
  padding: 0.5rem;
  margin: 0.5rem;
  display: block;
  text-align: center;
  transition: background-color 1s ease-in-out;
}

.projects a.demo-btn:hover {
  background-color: transparent;
}



.text-right .icon-container {
  margin-top: 2rem;
  width: 7rem;
  height: 7rem;
  background-color: white !important;
  border-radius: 100% 100%;
  box-shadow:inset 0 0 0 2000px rgba(238, 203, 171, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-right .icon-container img {
  width: 60%;
  height: 60%;
}

.text-right .icon-container img.filter-green {
  filter: invert(55%) sepia(8%) saturate(353%) hue-rotate(337deg) brightness(93%) contrast(84%);
}

div.ksa {
  height: auto;
  background-color: var(--pink-base);
  padding:3rem;
  
}

.contact-info {
  min-height: 5rem;
  width: 100%;
  height: 100%;
}

.contact-info a {
  background-color: var(--blue-base);
  color: white;
}

.contact-info a:nth-child(2) {
  background-color: var(--yellow-base);
}
/* /Home page */

/* 8- About page */

.profile-title {
  width: 7rem;
  margin-bottom: 1rem;
  font-family: unset;
}

.profile div.line {
  position: relative;
  top: -2.2rem;
  left: 25%;
  display: block;
  width: 50rem;
  height: 0.5px;
  background-color: var(--light-text-color);
  cursor: auto;
}

.profile-content {
  padding-left: 5%;
  width: 90%;
  text-align: justify;
}
.work-experience div.line {
  position: relative;
  top: -2.2rem;
  display: block;
  width: 40rem;
  height: 0.5px;
  background-color: var(--light-text-color);
  cursor: auto;
}

.employment-title {
  width: 21rem;
  margin-bottom: 1rem;
  margin-top: 3rem;
  font-family: unset;
}

.details-text {
  position: relative;
  padding-left: 5%;
  color:var(--light-text-color);
  line-height: 20px;
  width: 100%;
  text-align: justify;
}

.details-title {
  line-height: 1.5em;
  width: 100%;
}

p.employer {
  font-size: 1.3em;
  line-height: 1.5em;
}

.about-date {
  font-family: "Roboto Condensed", sans-serif;
}

.summary-description {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  width: 90%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.work-projects {
  background-color: transparent;
  padding-left: 5%;
  scroll-behavior: smooth;
}

.summary-list {
  margin-bottom: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.summary-list li {
  list-style: disc inside;
}

.edus-content {
  border-right: 1px solid var(--light-separator-border-color);
}


/* /About page */
/* 9- Skills page */

.skill-title {
  font-size: 2rem;
  letter-spacing: 2px;
  position: relative;
}

.skill-title::after {
  content: "";
  display: block;
  background-color: var(--light-text-color);
  width: 20em;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 12.6em;
}

.skill-container {
  display: flex;
  flex-direction: column;
}

.detailed-skills > h2 {
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 0.em;
  margin-top: 3rem;
  opacity: 0.9;
}

.items {
  display: flex;
  width: 100%;
}

.column {
  width: 100%;
  margin-right: 3rem;
}

.items .column p {
  margin-top: 2rem;
  margin-bottom: 0.1rem;
}

.skill-bar {
  width: 90%;
  background-color: #ddd;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  margin-bottom: 0.5em;

}

.skills {
  text-align: right;
  padding-top: 13px;
  padding-bottom: 13px;
  color: white;
  
}

.html {
  width: 90%; 
  background: rgb(12, 126, 142);
  background-size: 300% 100%;
  animation: html5 2s ease-out;
  -moz-animation: html5 2s ease-out;
  -webkit-keyframes: html5 2s ease-out;
  }

.css {
  width: 80%; 
  background-color: rgb(74, 194, 202);
  animation: eighty 2s ease-out;
  -moz-animation: eighty 2s ease-out;
  -webkit-keyframes: eighty 2s ease-out;
}
.js {
  width: 85%; 
  background-color: rgb(68, 177, 162);
  animation: eighty-five 2s ease-out;
  -moz-animation: eighty-five 2s ease-out;
  -webkit-keyframes: eighty-five 2s ease-out;
}
.react {
  width: 80%; 
  background-color: rgb(68, 177, 162);
  animation: eighty 2s ease-out;
  -moz-animation: eighty 2s ease-out;
  -webkit-keyframes: eighty 2s ease-out;
}
.bootstrap {
  width: 90%; 
  background-color: rgb(12, 126, 142);
  animation: html5 2s ease-out;
  -moz-animation: html5 2s ease-out;
  -webkit-keyframes: html5 2s ease-out;
}
.jquery {
  width: 60%; 
  background-color: rgb(74, 194, 202);;
  animation: sixty 2s ease-out;
  -moz-animation: sixty 2s ease-out;
  -webkit-keyframes: sixty 2s ease-out;
}

.nodejs {
  width: 70%; 
  background-color: rgb(74, 194, 202);
  animation: css 2s ease-out;
  -moz-animation: css 2s ease-out;
  -webkit-keyframes: css 2s ease-out;
}
.azure {
  width: 50%; 
  background-color: rgb(86, 215, 224);
  animation: fifty 2s ease-out;
  -moz-animation: fifty 2s ease-out;
  -webkit-keyframes: fifty 2s ease-out;
}
.express {
  width: 50%; 
  background-color: rgb(86, 215, 224);
  animation: fifty 2s ease-out;
  -moz-animation: fifty 2s ease-out;
  -webkit-keyframes: fifty 2s ease-out;
}
.mongodb {
  width: 80%; 
  background-color: rgb(68, 177, 162);
  animation: eighty 2s ease-out;
  -moz-animation: eighty 2s ease-out;
  -webkit-keyframes: eighty 2s ease-out;
}


@keyframes html5 {
  0% {
    width: 0px;
  }
  100% {
      width: 90%;
  };
}
@-moz-keyframes html5 {
  0% {
      width: 0px;
  }
  100% {
      width: 90%;
  };
}

@-webkit-keyframes html5 {
  0% {
    width: 0px;
  }
  100% {
      width: 90%;
  };
}

@keyframes css {
  0% {
    width: 0px;
  }
  100% {
      width: 70%;
  };
}
@-moz-keyframes css {
  0% {
      width: 0px;
  }
  100% {
      width: 70%;
  };
}

@-webkit-keyframes css {
  0% {
    width: 0px;
  }
  100% {
      width: 70%;
  };
}

@keyframes eighty-five {
  0% {
    width: 0px;
  }
  100% {
      width: 85%;
  };
}
@-moz-keyframes eighty-five {
  0% {
      width: 0px;
  }
  100% {
      width: 85%;
  };
}

@-webkit-keyframes eighty-five {
  0% {
    width: 0px;
  }
  100% {
      width: 85%;
  };
}

@keyframes eighty {
  0% {
    width: 0px;
  }
  100% {
      width: 80%;
  };
}
@-moz-keyframes eighty {
  0% {
      width: 0px;
  }
  100% {
      width: 80%;
  };
}

@-webkit-keyframes eighty {
  0% {
    width: 0px;
  }
  100% {
      width: 80%;
  };
}


@keyframes sixty {
  0% {
    width: 0px;
  }
  100% {
      width: 60%;
  };
}
@-moz-keyframes sixty {
  0% {
      width: 0px;
  }
  100% {
      width: 60%;
  };
}

@-webkit-keyframes sixty {
  0% {
    width: 0px;
  }
  100% {
      width: 60%;
  };
}

@keyframes fifty {
  0% {
    width: 0px;
  }
  100% {
      width: 50%;
  };
}
@-moz-keyframes fifty {
  0% {
      width: 0px;
  }
  100% {
      width: 50%;
  };
}

@-webkit-keyframes fifty {
  0% {
    width: 0px;
  }
  100% {
      width: 50%;
  };
}

/* /Skills page */

/* 11- Media queries */
@media screen and (max-width: 768px) {

  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100vw;
  }

  header.intro-container > * {
    max-width: 100vw;
    overflow: hidden;
    
  }

  .intro-container {
    flex-direction: row;
  }

  .intro-container .left-space {
    display: none;
  }

  .middle-space p.header-name {
    
  }

  .intro-text p{
    font-size: 3rem;
  }
  .link-box-container {
    text-align: center;
  }

  .about {
    display: unset;
  }

  .about .left-space .about-content {
    width: unset;
    overflow: unset;
    position: unset;
    top: unset;
    left: unset;
    padding-top: 30%;
    padding-right: 10%;
    padding-left: 10%;
  }

  .about .middle-space {
    display: none;
  }

  .about .right-space{
    display: none;
  }

  .work {
    flex-direction: column-reverse;
    min-height: auto !important;
  }

  .work .work-content {
    min-width: unset;
    max-width: unset;
    margin-left: 0;
    margin-bottom: 0;
  }

  .work h2 {
    margin-left: 0;
    font-size: 3rem;
    text-align: center;
    max-width: unset;
    color: unset;
    margin-top: 7%;
  }
  
  div.projects .text-left {
    margin-left: 0;
  }

  div.projects {
    background-color: linen;
    display: unset;
  }
  
  .projects a.demo-btn {
    background-color: lightblue;
    position: relative;
    margin: 0;
    width: 70%;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }

  .text-right {
    padding-bottom: 2rem;
  }

  .ksa {
    position: relative;
    z-index: 1;
  }

  .skill-container {
    flex-direction: column;
  }

  .detailed-skills {
    align-self: center;
    flex-direction: column;
  }

  .detailed-skills .items {
    flex-direction: column;
    width: 70vw;
  }

  .skill-title {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 425px) {
  .intro-img-container {
    margin-bottom: 1.7em;
  }

  .default-title {
    font-size: 1.3rem;
  }


  .projects .text-container {
    flex-direction: column;
  }

  .projects .text-left {
    top: 0;
  }

  .projects {
    flex-direction: column;
  }

  .details {
    flex-direction: column;
  }

  .mobile-titles {
    flex-direction: column;
  }

  .left-illu {
    display: none;
  }

  .intro-img-container {
    min-width: 100%;
  }
}

@media screen and (max-width: 590px) {
  .about-title {
    font-size: 1.4rem;
  }
}